<body>
<p id="notice"><%= notice %></p>

<h1>Listing Audios</h1>

<table>
<%= link_to 'New Audio', new_audio_path %>

  <tbody>
    <% @audios.each do |audio| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%#= image_tag(audio.url_audio, class: 'list_image')%>
      <%= soundcloud(audio)%>
    </td>

      <tr>

        <td><%= link_to 'Show', audio %></td>
        <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
        <td><%= link_to 'Destroy', audio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>



