<p id="notice"><%= notice %></p>

	<div class="container">
		<h1 class="tittle">Videos</h1>
		<div class="col-md-12" align="center" id="video">

		<table class="videos">

		  <tbody>
		    <% @videos.each do |video| %>
		      <tr>
		        <td>
			        <div class="col-xs-12">
			        	<h3><%= video.name %></h3>
			        	<iframe width="700" height="450" src="<%= "http://www.youtube.com/embed/"+ video.url %>"></iframe>
				        <p>Descripcion </p> 
				        <p id="descripcion"> <%= video.description %></p>
			        </div>
			      	<div class="enlaces">
			      		<%= link_to 'Show', video, class:"btn btn-primary" %>
				        <%= link_to 'Edit', edit_video_path(video), class:"btn btn-warning" %>
				        <%= link_to 'New Video', new_video_path, class:"btn btn-success" %>
				        <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
			      	</div>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

	</div>
</div>




